/*================================СЕКЦИИ МЕНЮ ==================================*/

#menu {
    background: #f1eded;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    .container {
        h2 span {
            display: inline-block;
            padding-bottom: 20px;
            position: relative;
        }
        .all {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            height: auto;
            .section {
                .item {
                    transition: 300ms;
                    padding: 20px;
                    border: #f1eded solid 4px;
                    border-radius: 8px;
                    &:hover {
                        background: white;
                        border: orange solid 4px;
                    }
                    a {
                        text-decoration: none;
                        color: #000000;
                        .text {
                            font-size: 25px;
                        }
                        img {
                            border-radius: 3px;
                            width: 370px;
                            height: 250px;
                        }
                        .weight {
                            font-size: 14px;
                            color: #3b3639;
                        }
                    }
                    .buy {
                        display: inline-block;
                        margin-top: 15px;
                        margin-bottom: 20px;
                        border: #1f1b1d solid 2px;
                        border-radius: 21px;
                        margin-left: auto;
                        margin-right: auto;
                        padding: 5px 50px;
                        transition: 300ms;
                        color: #3b3639;
                        &:hover {
                            border: #fff solid 2px;
                            background: orange;
                            color: #ffffff;
                        }
                    }
                }
            }
        }
        .button {
            display: inline-block;
            margin-top: 20px;
            margin-bottom: 30px;
            border: #1f1b1d solid 2px;
            border-radius: 21px;
            margin-left: auto;
            margin-right: auto;
            padding: 5px 50px;
            transition: 300ms;
            color: #3b3639;
            &:hover {
                background: #1f1b1d;
                color: #ffffff;
            }
        }
    }
}


/*============================= HEADER ===========================*/
header {
    background-color: #1f1b1d;
    height: fit-content;


/*================== НАВИГАЦИЯ ===================*/


    nav {
        padding-top: 5px;
        padding-bottom: 5px;
        height: 100px;
        margin-bottom: 0px;
        .main {
            display: flex;
            height: auto;
            align-items: center;
            justify-content: space-around;
            ul {
                padding: 0 0 0 0;
            }
            a {
                display: inline-block;
                text-decoration: none;
                list-style-type: none;
                color: #ffffff;
                cursor: pointer;
                font-size: 22px;
                font-weight: 400;
                &:hover {
                    color: #e9e5e5;
                    text-decoration: underline;
                }
                li {
                    margin: 25px;
                    font-weight: normal;
                }
                img{
                    display: block;
                    width: 190px;
                    height: 90px;
                }
                #basket {
                    width: 70px;
                    height: 70px;
                }
                .tel {
                    font-size: 14px;
                }
            }
            .tel {
                font-size: 14px;
            }
        }
    }
}


/*============================= EDA ===========================*/


#eda {
    p {
        font-size: 20px;
    }
    .row {

        li {
            display: inline-block;
            list-style-type: none;
        }
        p {
            font-size: 17px;
            margin-bottom: 5px;
        }
        padding-top: 70px;
        .button {
            display: inline-block;
            margin-top: 20px;
            margin-bottom: 30px;
            border: #1f1b1d solid 2px;
            border-radius: 21px;
            margin-left: auto;
            margin-right: auto;
            padding: 5px 50px;
            transition: 300ms;
            color: #3b3639;
            &:hover {
                background: #1f1b1d;
                color: #ffffff;
            }
        }
    }
    .last {
        padding-bottom: 50px;
    }
}


/*================================ ПОДВАЛ ==================================*/


footer {
    margin-top: -34px;
    height: 230px;
    background: #1f1b1d;
    color: #ffffff;
    font-size: 15px;
    .all {
        display: flex;
        padding-top: 30px;
        padding-bottom: 10px;
        li {
            list-style: none;
        }
        a {
            text-decoration: none;
            color: #ffffff;
        }
    }
}


/*================================ СКРОЛЛ ==================================*/


body::-webkit-scrollbar {
    width: 7px; }
    
    body::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
    
    body::-webkit-scrollbar-thumb {
    background: #2a2a2a;
    border-radius: 10px; }



