/*============================= HEADER ===========================*/


header {
    background-color: #1f1b1d;
    height: fit-content;


/*================== НАВИГАЦИЯ ===================*/


    nav {
        padding-top: 5px;
        padding-bottom: 5px;
        height: 100px;
        .main {
            display: flex;
            height: auto;
            align-items: center;
            justify-content: space-around;
            ul {
                padding: 0 0 0 0;
            }
            a {
                display: inline-block;
                text-decoration: none;
                list-style-type: none;
                color: #ffffff;
                cursor: pointer;
                font-size: 22px;
                font-weight: 400;
                &:hover {
                    color: #e9e5e5;
                    text-decoration: underline;
                }
                li {
                    margin: 25px;
                    font-weight: normal;
                }
                img{
                    display: block;
                    width: 190px;
                    height: 90px;
                }
                #basket {
                    width: 70px;
                    height: 70px;
                }
            }
            .tel {
                font-size: 14px;
            }
        }
    }
}

/*================================ ПОДВАЛ ==================================*/


footer {
    height: 230px;
    background: #1f1b1d;
    color: #ffffff;
    font-size: 15px;
    .all {
        display: flex;
        padding-top: 30px;
        padding-bottom: 10px;
        li {
            list-style: none;
        }
        a {
            text-decoration: none;
            color: #ffffff;
        }
    }
}


/*================================ МЕНЮ ==================================*/

#menu {
    background: #f1eded;
    padding-top: 40px;
    padding-bottom: 110px;
    h2 {
        text-align: center;
    }
        .all {
            display: grid;
            grid-template-columns: 370px 370px;
            justify-content: center;
            grid-gap: 100px;
            .col-12 {
                padding-top: 30px;
                text-align: center;
                h2 span {
                    display: inline-block;
                    padding-bottom: 40px;
                    position: relative;
                }
                a {
                    text-decoration: none;
                    color: #1f1b1d;
                    img {
                        border-radius: 7px;
                    }
                    span{
                        width: 370px;
                        display: inline-block;
                        font-weight: bold;
                        font-size: 25px;
                        position: relative;
                        color: #1f1b1d;
                        margin-top: 0px;
                        .two{
                            display: block;
                            margin-top: -10px;
                            font-size: medium;
                            color: #615675;
                            padding-bottom: 10px;
                        }
                    }
                }
            }
        }
}


/*================================ ДОСТАВКА ==================================*/

#questions{
    padding-top: 20px;
    padding-bottom: 20px;
    background: #f1eded;
    span {
        h2 {
            font-size: 40px;
        }
        p {
            font-size: 20px;
            color: #806767;
        }
    }
    #ing {
        margin-top: 100px;
    }
    .content {
        font-size: 20px;
        strong {
            display: block;
            font-size: 20px;
            padding-bottom: 10px;
        }
        ul {
            padding-left: 2em;
            li {
                a {
                    text-decoration: none;
                    color: #000000;
                }
            }
        }
    }
}


/*================================ ПРАВИЛА ==================================*/


#pravila {
    background: #f1eded;
    h2 {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    p {
        font-size: 22px;
    }
    ul {
        font-size: 22px;
    }
}


/*================================ СКРОЛЛ ==================================*/


body::-webkit-scrollbar {
    width: 7px; }
    
    body::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
    
    body::-webkit-scrollbar-thumb {
    background: #2a2a2a;
    border-radius: 10px; }